<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
    <!-- Polaczenie do DB -->
    <property name="connection.driver_class">org.hsqldb.ClientConnection</property>
    <property name="connection.url">jdbc:hsqldb:hsql://localhost/workdb</property>
  
    <!-- connection pool -->

    <property name="connection.pool">1</property>
   
    <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
   
    <property name="show_sql">true</property>
   
    <property name="hbm2ddl.auto">create</property>
   
   <mapping class="com.example.servletjspdemo.domain.Person"/>
    </session-factory>
</hibernate-configuration>